<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img src="assets/avatar.png" class="img-circle">
			</div>
			<div class="pull-left info">
				<p>{{user.firstname}} {{user.lastname}}</p>
				<a><i class="glyphicon glyphicon-log-out"></i> Sign Out</a>
			</div>
		</div>
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<ng-template ngFor let-item [ngForOf]="links">
				<ng-template [ngIf]="!item.sublinks">
					<li [class.active]="item.link[0] === currentUrl">
						<a *ngIf="!item.external"> <i class="fa fa-{{item.icon}}"></i> <span>{{item.title}}</span>
						</a>
						<a *ngIf="item.external" [href]="item.link" [target]="item.target">
							<i class="fa fa-{{item.icon}}"></i> <span>{{item.title}}</span>
						</a>
					</li>
				</ng-template>
				<ng-template [ngIf]="item.sublinks">
					<li class="treeview">
						<a href="#"> <i *ngIf="item.icon" class="fa fa-{{item.icon}}"></i> <span>{{item.title}}</span> <i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<ng-template ngFor let-subitem [ngForOf]="item.sublinks">
								<li [class.active]="subitem.link[0] === currentUrl">
									<a *ngIf="!subitem.external"> <i *ngIf="subitem.icon" class="fa fa-{{subitem.icon}}"></i> <span>{{subitem.title}}</span>
									</a>
									<a *ngIf="subitem.external" [href]="subitem.link" [target]="subitem.target"> <i *ngIf="subitem.icon" class="fa fa-{{subitem.icon}}"></i> <span>{{subitem.title}}</span>
									</a>
								</li>
							</ng-template>
						</ul>
					</li>
				</ng-template>
			</ng-template>
		</ul>
	</section>
</aside>
